@import "mixin";

//标题菜单滑动动画样式
.fade-enter-active,
.fade-leave-active,
.slide-down-enter-active,
.slide-down-leave-active,
.slide-up-enter-active,
.slide-up-leave-active,
.popup-slide-up-enter-active,
.popup-slide-up-leave-active,
.fade-slide-right-enter-active,
.fade-slide-right-leave-active,
.title-move-enter-active,
.title-move-leave-active,
.hot-search-move-enter-active,
.hot-search-move-leave-active {
    transition: all $animationTime linear;
}

.slide-down-enter,
.slide-down-leave-to {
    transform: translate3d(0, -100%, 0);
}

.slide-up-enter,
.slide-up-leave-to {
    transform: translate3d(0, px2rem(138), 0);
}


.fade-enter,
.fade-leave-to {
    opacity: 0;
}

.popup-slide-up-enter,
.popup-slide-up-leave-to {
    transform: translate3d(0, 100%, 0);
    opacity: 0;
}

.fade-slide-right-enter,
.fade-slide-right-leave-to {
    transform: translate3d(-100%, 0, 0);
    opacity: 0;
}

.switch-width-enter,
.switch-width-leave-to {
    transform: translate3d(-100%, 0, 0);
}
.switch-width-enter-active,
.switch-width-leave-active {
    transition: all 0.6s linear;
}


.title-move-enter,
.title-move-leave-to {
    transform: translate3d(0, px2rem(30), 0);
    opacity: 0;
}

.hot-search-move-enter,
.hot-search-move-leave-to {
    transform: translate3d(0, px2rem(30), 0);
    opacity: 0;
}