@import "./reset";
@import "./mixin";
@import "./transition";
@import "./home.scss";
@import "./flapCard.scss";
$animationTime: .4s;
$animationType: linear;


.icon {
    color: #333;
    font-size: px2rem(20);
}

